body {
    font: 20px Lato, sans-serif;
    line-height: 1.8;
     
  }
  p, li {
    font-size: 16px;
    font-weight: 300;
    text-align:justify
  }
  .margin {
  margin-bottom: 45px;
  
  }
  .bg-1 { 
    background-color: #DFEAEF; /* light blue is #ACDEF6 */
    color: black;
  }
  .bg-2 { 
    background-color:  white; /* Dark Blue */
    color: black;
    text-align:justify;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
    color: black;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
          color: black;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .bg-1 {
    padding-top: 0px;
  } 
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
  
  }
  .navbar-nav  li a:hover {
    color: #1abc9c;
  } 
  
  #headerImg {
  padding: 0px;
  
  }
  
  
  #headerText {
  font-size: 18px;
  }
  
  .threeImages img {
  display: inline;
  float: left
  }
  
  h2 {
  
  text-align: left;
  
  }
  
  ul {
  
  text-align: left;
  }
  
  .btn {
  
  background-color:  white;
  border-color:  #DFEAEF;
  color: #777;
  border: 2px;
  font-weight: 200;
  }
  
  .btn:hover  {
  
  background-color: #DFEAEF;
  border-color:  2px solid #E0DEEF;
  border: 2px;
  color: white;
  font-weight: 400;
  }
  
  #ps:hover  {
  background-color: #DFEAEF;
  
  }
  
  #all:hover {
  background-color: #DFEAEF;
  }
  
  #footer{
  padding: 10px;
  
  }
  
  #headerImg {
  width:80%; 
  
  }
  
  
    #teeandmoVid {
  
    width: 100%; 
  
   }
  
  
  
  @media screen and (max-width: 480px) {
  #headerText {
     font-size: 15px;
  }
  
   #headerImg {
  
    width:90%; 
  
   }
    #teeandmoVid {
  
    width: 95%; 
  
   }
  
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /*
  
  div.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  */

